.home{
    .skills-box{
        // border: 1px solid red;
        border-radius: 50%;
        position: relative;
        margin: auto;
        padding: 30px;
        height: 300px;
        width: 300px;
        p{
            position: absolute;
        }
        .second{
            left: 124px;
            top: -12px;
        }
        .third{
            right: 36px;
            top: 20px;        }
        .fourth{
            top: 105px;
            right: -20px;
        }
        .fifth{
            top: 203px;
            left: 260px;
        }
        .sixth{
            bottom: 10px;
            right: 53px;
        }
        .seventh{
            bottom: 10px;
            left: 60px;
        }
        .eight{
            bottom: 73px;
            left: 2px;
        }
        .ninth{
            top: 102px;
            left: -22px;        
        }

        .floating {   
            animation-name: floating; 
            animation-duration: 10s; 
            animation-iteration-count: infinite; 
            animation-timing-function: ease-in-out; 
            color: #748ce4;
            font-weight: bold;

        } 
           
        @keyframes floating { 
            0% { transform: translate(0,  0px); } 
            25%  { transform: translate(40px, 0px); } 
            50%   { transform: translate(40px, 40px); }  
            75%   { transform: translate(-0px, 40px); }     
            100%   { transform: translate(0px, -0px); }        
        } 

    }
}